.logo {
    color: #83bd47;
    cursor: pointer;
    font-weight: 700;
    transform-origin: center;
    display: flex;

    &:hover {
        color: #ff8a00;
    }
}

.navlink {
    color: white;
    font-weight: 400;

    &:hover {
        color: #83bd47;
    }
}

.form {
    width: 300px;
}

.button {
    color: #83bd47;

    &:hover {
        background-color: #83bd47;
    }

}

.boder {
    border-bottom: 1px rgba(192, 183, 183, 0.288) solid;
}