.backdrop {
    width: 100%;
    opacity: 0.5;
}

.poster {
    width: 175px;
    border: 3px solid rgba(255, 255, 255, 0.596);
}

.back {
    position: relative;
    width: 992px;

    &:hover .icon {
        opacity: 1;
        transform: scale(2.0) translate(-10%, -30%);
    }

}

.front {
    position: absolute;
    bottom: 4%;
    left: 1.5%;
}

.icon {
    color: #dc8a00;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-10%, -30%);
    opacity: 0;
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(3.0) translate(-10%, -30%)
    }
}

.point {
    padding: 5px;
    background-color: #e3b71e;
    border-radius: 5px;
    color: black;
}